.container {
  display: grid;
  /* justify-content: center;
  align-items: center;
  height: 100%; */
  place-items: center;
  height: 100%;
}

.element {
  padding: 1rem 1rem;
  border-radius: 10px;
  border: 2px dotted grey;
  font-size: 1rem;
  text-align: center;
  outline: none;
  width: clamp(400px, 30%, 600px);
}
