.blurWrapper {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

.blurWrapper.loadedImg img {
  opacity: 1;
}

.blurWrapper img {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.blurWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: pulse 2.5s infinite;
  background-color: white;
}

.blurWrapper .loadedImg::before {
  animation: none;
  content: none;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
